
@{
    ViewBag.Title = "Education";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <ul style="list-style-type:disc;">
        <li><h3>Hsc</h3></li>
        <ul style="list-style-type:circle;">
            <p>
            <li><b>Institute : </b> Uttara Model College</li></p>
            <p>
            <li><b>Year : </b> 2019</li></p>
            <p>
            <li><b>Group : </b>Science</li></p>

        </ul>
    </ul>



    <ul style="list-style-type:disc;">
        <li><h3>SSC</h3></li>
        <ul style="list-style-type:circle;">
            <p>
            <li><b>Institute : </b> Holy Child School</li></p>
            <p>
            <li><b>Year : </b> 2017</li></p>
            <p>
            <li><b>Group : </b>Science</li></p>

        </ul>
    </ul>

    <ul style="list-style-type:disc;">
        <li><h3>BSC</h3></li>
        <ul style="list-style-type:circle;">
            <p>
            <li><b>Institute : </b> American Internationa University - Bangladesh </li></p>

            <p>
            <li><b>Group : </b>BSc in CSE</li></p>

        </ul>
    </ul>
    <br />
    <div class="row">

        <section class="col-md-3">

            <p><a href="Index">Home </a></p>

        </section>

        <section class="col-md-3">

            <p><a href="Education">Education </a></p>

        </section>



        <section class="col-md-3">

            <p><a href="Personalinfo">Personal Info</a></p>

        </section>

        <section class="col-md-3">

            <p><a href="Project">Project</a></p>

        </section>

        </div>
</main>