
@{
    ViewBag.Title = "Home";
}


<main>

    <section class="row">

        <h2 id="title">@ViewBag.Title.</h2>


        <p class="lead"><b>Name :</b> Muhammad Abdullah</p>
        <br>
        <br>
        <p class="lead"><b>Email :</b> mail@mail.com</p>
        <br>
        <br>
        <p class="lead"><b>ID :</b> 20-4**22-*</p>


    </section>


    <div class="row">

        <section class="col-md-3">

            <p><a href="Index">Home </a></p>

        </section>


        <section class="col-md-3">

            <p><a href="Education">Education </a></p>

        </section>



        <section class="col-md-3">

            <p><a href="Personalinfo">Personal Info</a></p>

        </section>

        <section class="col-md-3">

            <p><a href="Project">Project</a></p>

        </section>


    </div>
</main>