
@{
    ViewBag.Title = "Personal info";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <b><p>Hometown</b> :Somewhere</p>
    <br />
    <b><p>Present Address</b> :Somewhere</p>
    <br />
    <b><p>Phone Number</b> :0987654321</p>
    <br />
    <b><p>Email</b> :mail@mail.com</p>
    <br />

    <p><b>Zip Code :</b>****</p>
    <br />
    <div class="row">

        <section class="col-md-3">

            <p><a href="Index">Home </a></p>

        </section>

        <section class="col-md-3">

            <p><a href="Education">Education </a></p>

        </section>



        <section class="col-md-3">

            <p><a href="Personalinfo">Personal Info</a></p>

        </section>

        <section class="col-md-3">

            <p><a href="Project">Project</a></p>

        </section>

    </div>
</main>