@model Zero_Hunger.db.dbTRACKCOLLECTION_List
@{
    ViewBag.Title = "AssignedRequest";
    Layout = "~/Views/Shared/_Layoutindexe.cshtml";
}

<h2>AssignedRequest</h2>


  

<form action="" method="post">


   
        <input type="number" name="COLLECTREQUEST_ID" value="1" hidden />
        @*<input type="number" name="NGO_ID" value="1" hidden />*@
        <input type="number" name="RESTAURENT_ID" value="1" hidden />
        @*<input type="number" name="FOOD_ID" value="1" hidden />*@
        <input type="number" name="EMPLOYEE_ID" value="1" hidden />
        @*<input type="number" name="DISTRIBUTION_ID" value="1" hidden />*@
        <input type="text" name="STATUS" value="Done" hidden />

        <input type="submit" class="btn btn-success" value="Accept Request" />

   
    
</form>

