
@{
    ViewBag.Title = "Indexr";
    Layout = "~/Views/Shared/_Layoutindexr.cshtml";
}

<h2>Indexr Dashboard</h2>

<h2> @Session["RESTAURENT_NAME"]</h2>

<div class = "form-horizontal">

    <a href = "/Restaurent/OpenRequest">Food Collection Request</a> 

</div>